@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap");
* {
  box-sizing: border-box;
  color: #fff;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #181818;
  color: white;
  font-weight: 300;
}

label {
  font-size: 1.5rem;
}

#container {
  display: flex;
  flex-direction: row;
}

#left {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height: 100vh;
}

#right {
  flex: 1;
}

input {
  width: 100%;
  height: 5vh;
  background-color: #181818;
  border: 1px solid #fff;
  border-radius: 5px;
  color: #fff;
  font-size: 1.5rem;

  padding: 2vh;
}

#signin {
  display: flex;
  flex-direction: column;
  width: 60%;
  font-size: 2rem;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

@media (min-width: 1200px) {
  #left {
    flex: 4;
  }

  #right {
    flex: 6;
  }
}

#container #left img {
  width: 30%;
  margin: 5vh auto;
}

#email,
#password {
  width: 100%;
  margin-bottom: 1vh;
}

.primary-button {
  font-weight: bold;
  width: 100%;
  padding: 5%;
  margin: 2vh 0 4vh;
  justify-content: center;
  background-color: #f96816;
  border-radius: 10px;
  font-size: 1.5rem;
  transition: all 1s;
  cursor: pointer;
}

.primary-button:hover {
  background-color: #fff;
}

footer {
  width: 60%;
  margin: 0 auto;
}

#signin a {
  display: block;
  text-align: center;
  margin: 0.5vh 0;
  text-decoration: none;
  font-size: 1.2rem;
}

.or,
.secondary-button {
  width: 70%;
}

.or {
  display: flex;
  font-display: row;
  align-items: center;
  margin: 2vh 0;
}

.bar {
  flex: auto;
  border: none;

  height: 1px;

  background-color: #aaa;
}

#signin span {
  margin: 0 3vh;
}

.secondary-button {
  display: block;
  text-align: center;
  padding: 5%;
  font-weight: bold;
  background-color: #181818;
  border-radius: 10px;
  border: 1px solid #fff;
  font-size: 1.5rem;
  transition: all 1s;
  cursor: pointer;
}

.secondary-button:hover {
  color: #f96816;
  border: 1px solid #f96816;
}

footer {
  margin-top: 5vh;
  text-align: center;
}

#right {
  background: url("web2.jpg") no-repeat center bottom/cover;
}

#main-slogan {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
}

#right h1 {
  font-weight: 300;
  font-size: 3.5rem;
}

#right .secondary-button {
  width: 100%;
}

#right a {
  margin: 2vh;
  font-size: 3rem;
  border: 2px solid #fff;
  border-radius: 10px;
  padding: 2vh;
  text-decoration: none;
  transition: all 1s;
  font-weight: bold;
}

#right a:hover {
  border: 2px solid #f96816;
  color: #f96816;
}
